DATABASE_URL='mysql://YOUR_MYSQL_URL_HERE?ssl={"rejectUnauthorized":true}'

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_BASE_PATH="http://localhost:3000"

GOOGLE_CLIENT_ID="31111636762-fm5s4gj6dfdkfkdfdknfdknnksnduvh.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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qj-c"

FB_CLIENT_ID='3181skfjfbjdbf9382'
FB_CLIENT_SECRET='01f2a9dkfnd frdhfidjfodjfojsdojsfb33'

NEXT_PUBLIC_TURNSTILE_SITE_KEY='0x4AAAAkefkfndfnccp0_SwN'
TURNSTILE_SECRET_KEY='0x4AAAAAAAdfndkfndkfroerejorjf2Uw4lA'

ALGOLIA_APP_ID='ZKPDFKFDXG'
ALGOLIA_API_KEY='467907eldkfndfpejjrpgmpsd227bc'

UPLOADTHING_SECRET='sk_live_0311a7cab88ec84bae7daenofjoeroerueouosjdsode1ea7d4a36830fcdb0d'
UPLOADTHING_APP_ID='ukrojpsidpj'

